html {
  --font-family-standard: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-size: 13px;
  --line-height: 1.4;
  font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system,
    BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #343434;
  background: linear-gradient(180deg, #343434 0%, #252525 100%);
  font-family: "Mona-Sans", sans-serif;
  font-family: "Mona Sans", sans-serif;
}

.lot-size-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;
  z-index: 1000;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 5vh;
}

.lot-size-container {
  background: rgba(255, 255, 255, 0.10);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  /* box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 4px 2px rgba(255, 255, 255, 0.2); */
  position: relative;
  overflow: hidden;
}

.navigation-div {
  position: sticky;
  top: 0;
  z-index: 500;
  /* background-color: rgba(36, 40, 50, 1); background-image: linear-gradient(135deg, rgba(36, 40, 50, 1) 0%, rgba(36, 40, 50, 1) 40%, rgba(37, 28, 40, 1) 100%); */
  border: none;
}

.footer-div {
  position: relative;
  margin-bottom: 0px;
  padding: 3vh 0px;
}

.navigation-div::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, 
  rgba(0, 0, 0, 0.5) 60%, 
  rgba(0, 0, 0, 0.3) 100%);
  backdrop-filter: blur(6px);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3), 
  0px 8px 32px 0px rgba(0, 0, 0, 0.3), 
  0px 1px 0px rgba(255, 255, 255, 0.2), 
  0px -1px 0px rgba(255, 255, 255, 0.1), 
  0px 0px 4px 2px rgba(255, 255, 255, 0.1);
  opacity: 0.9;
  /* <— make background image opaque */
  z-index: -1;
  background-color: rgba(36, 40, 50, 0.8);
  background-blend-mode: multiply;
}

.footer-div::before {
   content: "";
  position: absolute;
  inset: 0;
   background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.9) 0%, 
  rgba(0, 0, 0, 0.5) 60%, 
  rgba(0, 0, 0, 0.3) 100%);
  backdrop-filter: blur(6px);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 8px 32px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2), 0px -1px 0px rgba(255, 255, 255, 0.1), 0px 0px 4px 2px rgba(255, 255, 255, 0.1);
  opacity: 0.8;
  /* <— make background image opaque */
  z-index: -1;
  background-color: rgba(36, 40, 50, 0.8);
  background-blend-mode: multiply;
}





.radial-backdrop {
  position: absolute;
  inset: -9900%;
  background: radial-gradient(circle at 50% 50%,
      #0000 0,
      #0000 20%,
      #111111aa 50%);
  background-size: 3px 3px;
  z-index: -1;
}


.blog-container {
  z-index: 1000;
  background: #ffffff1a;
  /* border: 1px solid #ffffff4d; */
  border-radius: 20px;
  padding: 20px 40px;
  overflow: hidden;
  /* box-shadow: 0 8px 32px #0000001a, inset 0 1px #ffffff80, inset 0 -1px #ffffff1a, inset 0 0 4px 2px #fff3; */
  top: 0;
  left: 0;
  position: relative
}


#app {
  width: 50vw;
  height: 80vh;
  border-radius: 16px;
  background: #191919aa;
  background: linear-gradient(180deg, #292929aa 0%, #191919cc 50%);
  backdrop-filter: blur(4px);
  box-shadow: inset 0 2px 2px 0 #e7c4a088, inset 0 -2px 2px 0 #0003;

  color: #ccc;
  text-shadow: 1px 1px 3px #333a;
}

.header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  overflow: none;
  display: none
}



.body {
  width: 100%;
  height: 90%;
}

.logo {
  width: 15vw;
}


.top-light {
  z-index: 500;
  background: #fffef9;
  border-radius: 10px;
  width: 284px;
  height: 6px;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  box-shadow: 0 0 1px 1px #ffc78e, 0 1px 2px 1px #ff942977, 0 2px 6px 1px #e98b2d77, 0 4px 12px #ff9e3d99, 0 12px 20px 12px #ff800044;
}

html {
  overflow: none;
}

.body {
  height: 90%;
  width: 100%;
  overflow: none;
}

.body-header {
  padding: 10px;
  text-align: center;
  color: rgb(191, 191, 191);
}

.body-row {
  display: flex;
  /* padding: 20px; */
  color: rgb(191, 191, 191);
  padding: 0.8rem 2rem;
  font-size: 1rem;
  position: relative;
}

.body-row-5 {
  color: #bfbfbf;
  padding: .8rem 2rem;
  font-size: 1rem;
  display: flex;
  position: relative;
}

.body-row-2 {
  justify-content: end;
}

.body-row::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent);
  width: 80%;
  margin: auto;
}

.body-row,
.body-header {
  font-size: 1rem;
  color: #ccc;
  text-shadow: 1px 1px 3px #333a;
}

.body-row-1,
.body-row-2 {
  width: 100%;
  display: flex;
  align-items: center;
}

.currency-input,
.currency-pair-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0;
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  /* height: 1.4375em; */
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  /* padding-top: 25px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px; */
  background: rgba(255, 255, 255, 0.09);
  padding: 0.7rem;
  border-radius: 10px;
}

.number-input {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  /* height: 1.4375em; */
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  /* padding-top: 25px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px; */
  background: rgba(255, 255, 255, 0.09);
  padding: 0.7rem;
  border-radius: 10px;
}

.submit-button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  /* line-height: 1.75; */
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  color: var(--variant-containedColor);
  background-color: var(--variant-containedBg);
  box-shadow: var(--mui-shadows-2,
      0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 1px 5px 0px rgba(0, 0, 0, 0.12));
  --variant-textColor: var(--mui-palette-primary-main, #1976d2);
  --variant-outlinedColor: var(--mui-palette-primary-main, #1976d2);
  --variant-outlinedBorder: rgba(var(--mui-palette-primary-mainChannel, 25 118 210) / 0.5);
  --variant-containedColor: var(--mui-palette-primary-contrastText, #fff);
  --variant-containedBg: var(--mui-palette-primary-main, #1976d2);

  outline: 0px;
  margin: 0px;
  text-decoration: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: var(--mui-shape-borderRadius, 4px);
  /* padding: 8px 22px; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 80vw;
  margin: auto;
}

.currency-input,
.currency-pair-input,
.number-input {
  background: rgba(255, 255, 255, 0.26) !important;
  border-radius: 5px !important;

  backdrop-filter: blur(10.6px) !important;
  -webkit-backdrop-filter: blur(10.6px) !important;
  border: 0px solid rgba(255, 255, 255, 0.21) !important;
  position: relative;
  overflow: hidden;
  box-shadow: #fff9 0px -2px 3px inset !important;
}


.currency-input-card::before,
.currency-pair-input::before,
.number-input::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent);
}

.currency-input-card::after,
.currency-pair-input::after,
.number-input::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.8),
      transparent,
      rgba(255, 255, 255, 0.3));
}

/* CSS */
.button-33 {
  padding: 12px 26px;
  color: #fff;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  transition: all 150ms ease-in-out;
  width: 100%;
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px 0 inset, 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  background: linear-gradient(180deg, #404146 0%, #272729 100%);
  margin: auto;
}

.button-33:hover {
  filter: brightness(1.1);
}

.button-33:active {
  transform: scale(.95);
}

.submit-button {
  display: none;
}

/*TEESTING*/
.button-container {
  position: relative;
  margin: 0 2em;
}

.button-border {
  padding: 3px;
  inset: 0;
  background: #0005;
  border-radius: inherit;
  clip-path: path("M 90 0 C 121 0 126 5 126 33 C 126 61 121 66 90 66 L 33 66 C 5 66 0 61 0 33 C 0 5 5 0 33 0 Z"
    );
}

.button {
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.875em;
  clip-path: path("M 90 0 C 115 0 120 5 120 30 C 120 55 115 60 90 60 L 30 60 C 5 60 0 55 0 30 C 0 5 5 0 30 0 Z"
    );
  width: 120px;
  height: 60px;
  background: #111215;
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
}

.real-button {
  position: absolute;
  width: 120px;
  height: 60px;
  z-index: 1;
  outline: none;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  opacity: 0;
}

.button-backdrop {
  position: absolute;
  inset: -9900%;
  background: radial-gradient(circle at 50% 50%,
      #0000 0,
      #0000 20%,
      #111111aa 50%);
  background-size: 3px 3px;
  z-index: -1;
}

.spin {
  position: absolute;
  inset: 0;
  z-index: -2;
  opacity: 0.5;
  overflow: hidden;
  transition: 0.3s;
}

.real-button:active~div .spin {
  opacity: 1;
}

.spin-blur {
  filter: blur(2em) url(#unopaq);
}

.spin-intense {
  inset: -0.125em;
  filter: blur(0.25em) url(#unopaq2);
  border-radius: 0.75em;
}

.spin-inside {
  inset: -2px;
  border-radius: inherit;
  filter: blur(2px) url(#unopaq3);
  z-index: 0;
}

.spin::before {
  content: "";
  position: absolute;
  inset: -150%;
  animation:
    speen 8s cubic-bezier(0.56, 0.15, 0.28, 0.86) infinite,
    woah 4s infinite;
  animation-play-state: paused;
}

.real-button:hover~div .spin::before {
  animation-play-state: running;
}

.spin-blur::before {
  background: linear-gradient(90deg, #f50 30%, #0000 50%, #05f 70%);
}

.spin-intense::before {
  background: linear-gradient(90deg, #f95 20%, #0000 45% 55%, #59f 80%);
}

.spin-inside::before {
  background: linear-gradient(90deg, #fc9 30%, #0000 45% 55%, #9cf 70%);
}

@keyframes speen {
  0% {
    rotate: 10deg;
  }

  50% {
    rotate: 190deg;
  }

  to {
    rotate: 370deg;
  }
}

@keyframes woah {
  0% {
    scale: 1;
  }

  50% {
    scale: 0.75;
  }
}


.svg-style {
  position: absolute;
  width: 0;
  height: 0;
}


/*ALEJO ZN NIEUWSLETTER DING*/
.sib-form {
  text-align: center;
  background-color: transparent;
}

.sib-form-message-panel {
  font-size: 16px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  color: #661d1d;
  background-color: #ffeded;
  border-radius: 3px;
  border-color: #ff4949;
  max-width: 540px;
}

.sib-form-message-panel {
  font-size: 16px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  color: #085229;
  background-color: #e7faf0;
  border-radius: 3px;
  border-color: #13ce66;
  max-width: 540px;
}


.sib-container--large {
  text-align: center;
  background-color: transparent !important;
  max-width: 540px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #C0CCD9;
  border-style: solid;
  direction: ltr
}

.sib-form-first-div {
  padding: 8px 0;
}

.sib-form-block {
  font-size: 32px;
  text-align: left;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  color: #fafafa;
  background-color: transparent;
  text-align: left
}


.sib-form-block {
  font-size: 16px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  color: #f6f7f9;
  background-color: transparent;
  text-align: left
}

.entry__label {
  font-weight: 700;
  text-align: left;
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  color: #fdfeff;
}

.entry__error {
  font-size: 16px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  color: #661d1d;
  background-color: #ffeded;
  border-radius: 3px;
  border-color: #ff4949;
}

.entry__specification {
  font-size: 12px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  color: #f9f9fa;
  text-align: left
}

.g-recaptcha-v3 {
  display: none;
}

.sib-form-block__button {
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  color: #FFFFFF;
  background-color: transparent;
  border-radius: 3px;
  border-width: 0px;
}


#sib-container input:-ms-input-placeholder {
  text-align: left;
  font-family: Helvetica, sans-serif;
  color: #c0ccda;
}

#sib-container input::placeholder {
  text-align: left;
  font-family: Helvetica, sans-serif;
  color: #c0ccda;
}

#sib-container textarea::placeholder {
  text-align: left;
  font-family: Helvetica, sans-serif;
  color: #c0ccda;
}

#sib-container a {
  text-decoration: underline;
  color: transparent;
}

/**alejo zn newsletter ding end**/

.newsletterIFrame {
  border: none;
  width: 100%;
  height: 100%;
  min-height: 300px;
  border-radius: 10px;
  overflow: hidden;
}


.left-economic-div,
.middle-economic-div,
.right-economic-div {
  width: 100%;
}

.flag-div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-div>span {
  font-size: 60px;
  display: block;
  line-height: 1;
}

.economic-div {
  border-radius: 5px;
  padding: 1vh;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(35px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 5px 20px;
  overflow: hidden;
  color: #ccc;
  text-shadow: 1px 1px 3px #333a;
  font-size: 0.7rem;
  margin-bottom: 1vh;
}

.left-economic-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.middle-economic-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right-economic-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}

.middle-economic-currency {
  font-size: 1.2rem;
  position: relative;
}

.middle-economic-currency::after {
  content: "";
  background: linear-gradient(to right, #0000, #fff9, #0000);
  width: 80%;
  height: 1px;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


.sphere {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.sphere::before {
  content: '';
  position: absolute;
  top: 15%;
  left: 20%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.8), transparent);
  filter: blur(10px);
}


.red {
  background: radial-gradient(circle at 30% 30%, #ff6b6b, #c92a2a);
}

.yellow {
  background: radial-gradient(circle at 30% 30%, #ffd93d, #f59f00);
}

.green {
  background: radial-gradient(circle at 30% 30%, #51cf66, #2f9e44);
}

.grey {
  background: radial-gradient(circle at 30% 30%, #adb5bd, #495057);
}


.right-economic-div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}


.right-economic-div-top {
  width: 2vw;
  text-align: center;
  margin-bottom: 1vh;
}

.right-economic-div-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2vw;
}



/*toggle*/
.checkbox-wrapper-59 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-59 *,
.checkbox-wrapper-59 ::after,
.checkbox-wrapper-59 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-59 .switch {
  width: 2vw;
  height: 1.5vh;
  position: relative;
  display: inline-block;
}

.checkbox-wrapper-59 .slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.checkbox-wrapper-59 .slider:before {
  content: "";
  background-color: rgb(119, 119, 119);
  width: 0.5vw;
  height: 100%;
  position: absolute;
  border-radius: 30px;
  transition: 0.2s;
}

.checkbox-wrapper-59 input:checked+.slider:before {
  transform: translateX(1vw);
  background-color: #ffc78e;
}

.checkbox-wrapper-59 input:checked+.slider {
  box-shadow: 0 0 1px 1px #ffc78e, 0 0px 2px 1px #ff942977, 0 0px 6px 1px #e98b2d77, 0 0px 12px #ff9e3d99;
}

.toggle-main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
}

.toggle-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.body-content {
  height: 80%;
  padding: 10px 10px;
  width: 100%;
}

.currency-filter-main-div {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin: 10px 0px;
}

.filtering-div {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-class {
      cursor: pointer;
    color: #a1a1a1;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    border: 1px solid #404c5d;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    transition: all .5s;
}

.button-class:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #d6d6d6;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.button-class:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.button-class-white {
  background: #d6d6d6;
  color: #2e2d2d;
}

.button-class-white:hover {
  color: #212121;
  background: #d6d6d6;
}

.subscribe-button, .read-more-button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.subscribe-button {
  --primary-color: #111;
  --hovered-color: #ff9e3d99;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

 .read-more-button {
  --primary-color: #111;
  --hovered-color: #ff9e3d99;
  position: relative;
  font-weight: 600;
 }

.subscribe-button p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}



.subscribe-button::after, .read-more-button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.subscribe-button p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "Subscribe";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.subscribe-button:hover::after, .read-more-button:hover::after {
  width: 100%;
}

.subscribe-button:hover p::before, .read-more-button:hover p::before {
  width: 100%;
}

.subscribe-button:hover svg, .read-more-button:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

.subscribe-button svg, .read-more-button svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}


.facebookButton {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.facebookButton .svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 1px; /* Adjusted letter spacing */
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.facebookButton .BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #0165e1;
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  transition: all 0.3s;
}

.facebookButton:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Added box shadow effect */
}

.facebookButton:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.facebookButton:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
}


.linkedInButton {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.linkedInButton .svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 1px; /* Adjusted letter spacing */
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.linkedInButton .BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #0077b5;
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  transition: all 0.3s;
}

.linkedInButton:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Added box shadow effect */
}

.linkedInButton:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.linkedInButton:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
}


.instagramButton {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.instagramButton .svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.instagramButton .BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  transition: all .3s;
}

.instagramButton:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.instagramButton:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
}





.emailButton {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.emailButton .svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.emailButton .BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #0072C6;
  background: -moz-linear-gradient(45deg, #0072C6 0%, #0078D4 25%, #1890E6 50%, #50A0D8 75%, #0072C6 100%);
  background: -webkit-linear-gradient(45deg, #0072C6 0%, #0078D4 25%, #1890E6 50%, #50A0D8 75%, #0072C6 100%);
  background: linear-gradient(45deg, #0072C6 0%, #0078D4 25%, #1890E6 50%, #50A0D8 75%, #0072C6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072C6', endColorstr='#0072C6',GradientType=1 );
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  transition: all .3s;
}

.emailButton:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.emailButton:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
}



.threadsButton {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.threadsButton .svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.threadsButton .BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #000000;
  background: -moz-linear-gradient(45deg, #000000 0%, #1a1a1a 25%, #2d2d2d 50%, #1a1a1a 75%, #000000 100%);
  background: -webkit-linear-gradient(45deg, #000000 0%, #1a1a1a 25%, #2d2d2d 50%, #1a1a1a 75%, #000000 100%);
  background: linear-gradient(45deg, #000000 0%, #1a1a1a 25%, #2d2d2d 50%, #1a1a1a 75%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  transition: all .3s;
}

.threadsButton:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.threadsButton:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
}


